*{
    margin:0;
    padding: 0;;
}
.background-image-login {
    background-image: url('../public/make.jpg'); /* Set the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    /* Adjust the height to cover the entire viewport */


    /* Add a media query for screens with a maximum width of 768px (typical for mobile devices) */

    @media (max-width: 768px) {
        background-size: cover; /* Adjust the background size for better visibility on small screens */
      }

  }
